html {
    color: #000;
    background: #fff;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#page {
    position: relative;
    height: 100%;
    overflow: hidden;
}

#cleaner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

/* ========================================================================= */

#containerMain {
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    text-align: center;
}

#icon {
    font-size: 105px;
}

#temp {
    font-size: 116px;
}

#icon, #temp {
    display: inline-block;
    line-height: 155px;
}

#time {
    font-size: 86px;
}

#description {
    font-size: 48px;
}

/* ========================================================================= */

#city {
    display: none;
}

/* #city {
    font-size: 50px;
    font-size: 7rem;
    position: absolute;
    top: 1.5%;
    right: 3.3%;
    display: block;
    text-decoration: none;
} */

#date {
    display: none;
}
/* #date {
    position: absolute;
    bottom: 0;
    left: 3.3%;
    font-size: 30px;
    font-size: 4.3rem;
} */

/* ========================================================================= */

#containerLastUpdate {
    font-size: 10px;
    position: fixed;
    bottom: 8px;
    left: 8px;
}

/* ========================================================================= */

html.night {
    color: #ffffff;
    background: #000000;
}


.forecast {
    position: absolute;
    width: 100%;
    bottom: 6%;
    left: 0;
    height: 39%;
}

.night .forecast {
    border-color: #ffffff;
}

.col {
    width: 24.5%;
    float: left;
    text-align: center;
    height: 100%;
}

.night .col {
    border-color: #ffffff;
}

.col:last-child {
    border-right: none;
}



#sun {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 22px;
}

.forecastIconWrapper {
    font-size: 86px;
    height: 136px;
    line-height: 150px;
}

.colTemp {
    font-size: 48px;
    margin-bottom: 8px;
    line-height: 46px;
}

.colTime {
    font-size: 28px;
    margin-top: 16px;
}

.colDesc {
    font-size: 16px;
}

.portrait .col:nth-last-child(2) {
    border-right: none;
}

.portrait .col5 {
    display: none;
}

.landscape #city {
    font-size: 35.4px;
    font-size: 7rem;
}

.landscape #temp {
    font-size: 141.7px;
    font-size: 28rem;
}

.landscape #lastUpdate {
    font-size: 7.1px;
    font-size: 1.4rem;
}

.landscape #description {
    font-size: 35.4px;
    font-size: 7rem;
}

.landscape #icon {
    font-size: 177.1px;
    font-size: 35rem;
}
.landscape #date {
    font-size: 21.8px;
    font-size: 4.3rem;
}

.landscape #sun {
    font-size: 21.8px;
    font-size: 4.3rem;
}

.landscape .forecastIconWrapper {
    font-size: 71.9px;
    font-size: 14.2rem;
}

.landscape .colTemp {
    font-size: 35.9px;
    font-size: 7.1rem;
}

.landscape .colTime {
    font-size: 25.3px;
    font-size: 5rem;
}

.landscape .colDesc {
    font-size: 14.2px;
    font-size: 2.8rem;
}

.landscape .col {
    width: 19.5%;
}